---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2" title="Skill Set">
  <div class="flex flex-col gap-2">
    <p class="text-m font-semibold">
      Some of my soft skills are:
      <ul class="list-inside list-disc">
        <li>Communication</li>
        <li>Planning</li>
        <li>Leadership</li>
        <li>Managment</li>
      </ul>
      <div class="flex flex-col gap-2">
        <p class="text-m font-semibold">
      Some of my hard skills are:
      <ul class="list-inside list-disc">
        <li>Python</li>
        <li>R</li>
        <li>Astro</li>
        <li>Latex</li>
        <li>AI-Feynman</li>
        <li>StableDiffusion</li>
      </ul>
    </p>
  </div>
</Card>
