---
import Card from '../Card.astro'
import Pulse from '../Pulse.astro'
---

<Card colSpan="lg:col-span-1" rowSpan="md:row-span-1">
  <div class="flex items-center justify-between mb-4">
    <h2 class="text-xl font-bold">Now</h2>
    <Pulse />
  </div>
  <p class="text-m">Working on finalizing paper for submissions to SISC</p>
</Card>
